body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-height: 100vh;
  max-width: 100vw;
  padding: 30px;
}

.center  {
  width: 100%;
}


